colorama==0.4.6
iniconfig==2.3.0
llvmlite==0.47.0
loguru==0.7.3
msgspec==0.21.1
numba==0.65.0
numpy==2.4.4
packaging==26.1
pluggy==1.6.0
Pygments==2.20.0
pytest==9.0.3
websockets==16.0
win32_setctime==1.2.0
